.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.title{
    margin-bottom: 30px;
}

.input{
    width: 100%;
    outline: none;
    padding: 15px;
    font-size: 14px;
}

.btn{
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background-color: rgb(96, 96, 205);
    border: none;
}

.form__inner{
    display: flex;
    gap: 15px;
}

.form{
    max-width: 500px;
    display: flex;
    width: 100%;
}

.list {
    display: none;
}

.list.show {
    display: block;
}

.item {
    display: grid;
    grid-template-columns: 50px 50px 100px 200px 1fr;
    margin-bottom: 10px;
}