html {
    position: relative;
}

body {
    margin: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}
#number,
#data{
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.title{
    margin-bottom: 30px;
}

.images__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}

.img{
    max-width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 50%;
    transition: 0.5s ease;
    cursor: pointer;
    box-sizing: border-box;
    aspect-ratio: 1;
}

.img.show-js{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height:max-content;
     width:max-content;
     border-radius: 0;
     aspect-ratio: 0;
}

.shadow-js .backdrop{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139,138,136,0.6);
    z-index: 1;
    
}

.img.show-js:hover{
    transform: rotate(0deg) translate(-50%, -50%);
}


.img:first-child,.img:nth-child(5),.img:nth-child(9){
    border-color: red;
}

.img:hover{
    border-color: #eee520;
    transform: rotate(45deg)
}

.btn-close {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.btn-close.open {
    display: block;
    
}



@media(max-width:1150px){
    .images__wrapper{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .img:nth-child(5),.img:nth-child(9){
        border-color: black;
    }

    .img:nth-child(4),.img:nth-child(7),.img:nth-child(10){
        border-color: red;
    }
}

@media(max-width:900px){
    .images__wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    .img:nth-child(4),.img:nth-child(7),.img:nth-child(10){
        border-color: black;
    }

    .img:nth-child(3),.img:nth-child(5),.img:nth-child(7),.img:nth-child(9),.img:nth-child(11){
        border-color: red;
    }
}

@media(max-width:600px){
    .images__wrapper{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .img:first-child,.img:nth-child(3),.img:nth-child(5),.img:nth-child(7),.img:nth-child(9),.img:nth-child(11){
        border-color: black;
    }
}